
<div class="card mg-b-20">
  <div class="card-header">RESUMEN</div>
  <div class="card-body">
      <div class="row">

        <div class="col-lg-3">
          <P>NRO. ABONADO</P>
          <span>V9767</span>
        </div><!-- col-3 -->
        <div class="col-lg-3">
          <P>ESTATUS</P>
          <span>ACTIVO</span>
        </div><!-- col-3 -->
        <div class="col-lg-3">
          <P>SUBSCRIPCIÓN MENSUAL</P>
          <span>40$</span>
        </div><!-- col-3 -->
        <div class="col-lg-3">
          <P>SALDO ACTUAL</P>
          <span>37.41$</span>
        </div><!-- col-3 -->

      </div><!-- row -->
  </div><!-- card-body -->
</div><!-- card -->