<div class="card mg-b-20">
  <div class="card-header">DATOS DE EQUIPOS</div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-primary mg-r-10"><i class="fa fa-undo"></i> DEVOLVER</button>
        <button class="btn btn-primary mg-r-10"><i class="fa fa-exchange"></i> CAMBIAR</button>
        <button class="btn btn-primary mg-r-10"><i class="fa fa-plus"></i> AGREGAR</button>
        <button class="btn btn-primary"><i class="fa fa-power-off"></i> INACTIVAR</button>
      </div><!-- col-12 -->
    </div><!-- row -->

    <div class="row mg-t-20">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo Sistema</th>
                <th>Modelo</th>
                <th>Serial/Código</th>
                <th>Código adlc</th>
                <th>Estatus</th>
                <th>Estado Físico</th>
                <th>Paquetes/Servicios</th>
                <th>Propietario</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ 1 }}</td>
                <td>{{ '...' }}</td>
                <td>{{ '...' }}</td>
                <td>{{ '...' }}</td>
                <td>{{ '...' }}</td>
                <td>{{ '...' }}</td>
                <td>{{ '...' }}</td>
                <td>{{ '...' }}</td>
                <td>{{ '...' }}</td>
                <td>
                  <a href="" class="tx-gray-600 mg-l-10"><i class="fa fa-info"></i></a>
                  <a href="" class="tx-gray-600 mg-l-10"><i class="fa fa-edit"></i></a>
                  <a href="" class="tx-gray-600 mg-l-10"><i class="fa fa-refresh"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- col-6 -->
    </div><!-- row -->
  </div><!-- card-body -->
</div><!-- card -->