<app-data-table tableId="operaciones-table" [tableClasses]="['table-striped']">
  <ng-container thead>
    <tr>
      <th>N° Orden</th>
      <th>Fecha Emisión</th>
      <th>Fecha Impresión</th>
      <th>Fecha Final</th>
      <th>Fecha Cierre</th>
      <th>Tipo Orden</th>
      <th>Orden</th>
      <th>Estatus</th>
      <th>Obser. Técnico</th>
      <th>Obser. Reg.</th>
      <th>Grupo Trabajo</th>
      <th>Creada Por</th>
      <th>Imputable</th>
    </tr>
  </ng-container>
  <ng-container tbody>
    <tr>
      <td>V39916</td>
      <td>2022/01/01</td>
      <td>2022/02/01</td>
      <td>2022/02/01</td>
      <td>2022/02/01</td>
      <td>ORDEN DE RECLAMOS FIBEX</td>
      <td>FALLA LOS</td>
      <td>FINALIZADA</td>
      <td>...</td>
      <td>...</td>
      <td>DANIEL PEREZ</td>
      <td>JABLANCO</td>
      <td>
        <button title="" class="btn btn-primary"><i class="fa fa-print"></i></button>
        <button title="" class="btn btn-primary"><i class="fa fa-eye"></i></button>
        <button title="" class="btn"><i class="fa fa-table"></i></button>
        <button title="" class="btn btn-primary"><i class="fa fa-wrench"></i></button>
      </td>
    </tr>
    <tr>
      <td>V39916</td>
      <td>2022/01/01</td>
      <td>2022/02/01</td>
      <td>2022/02/01</td>
      <td>2022/02/01</td>
      <td>ORDEN DE RECLAMOS FIBEX</td>
      <td>FALLA LOS</td>
      <td>FINALIZADA</td>
      <td>...</td>
      <td>...</td>
      <td>DANIEL PEREZ</td>
      <td>JABLANCO</td>
      <td>
        <button title="" class="btn btn-primary"><i class="fa fa-print"></i></button>
        <button title="" class="btn btn-primary"><i class="fa fa-eye"></i></button>
        <button title="" class="btn"><i class="fa fa-table"></i></button>
      </td>
    </tr>
  </ng-container>
</app-data-table>