<div class="card mg-b-20">
  <div class="card-header d-flex align-items-center justify-content-between" style="padding-bottom: 0;padding-top: 0;">
    <span>DATOS DEL CONTRATO</span>
    <div class="card-option tx-24">
      <a href="" class="tx-gray-600 mg-l-10"><i class="fa fa-check-square-o lh-0"></i></a>
      <a href="" class="tx-gray-600 mg-l-10"><i class="fa fa-print lh-0"></i></a>
      <a href="" class="tx-gray-600 mg-l-10"><i class="fa fa-edit lh-0"></i></a>
    </div><!-- card-option -->
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <p>FRANQUICIA: {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>GRUPO AFINIDAD: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>TIPO FACTURACIÓN: {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>CONTRATO IMPRESO: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>VENDEDOR: {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>NRO. CONTRATO FÍSICO: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>COBRADOR: {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>FECHA CONTRATO: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>ÚLTIMA ACTUALIZACIÓN: {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>TIPO ABONADO: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>ASESOR: {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>POSTE: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>CAJA FAT: {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>CIRCUITO: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>OBSERVACIÓN: {{ '...' }}</p>
      </div>
    </div>
  </div><!-- card-body -->
</div><!-- card -->