<div class="card mg-b-20">
  <div class="card-header">DATOS DE LOS SERVICIOS MENSUALES SUSCRITOS</div>
  <div class="card-body">

      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-primary mg-r-10"><i class="fa fa-repeat"></i> ACTUALIZAR SERVICIOS</button>
          <button class="btn btn-primary"><i class="fa fa-check"></i> SOLICITAR NUEVO TIPO DE SERVICIO</button>
        </div><!-- col-12 -->
      </div><!-- row -->

      <div class="row mg-t-20">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tipo Servicio</th>
                  <th>Descripción</th>
                  <th>Tipo Paquete</th>
                  <th>Estatus</th>
                  <th>Cantidad</th>
                  <th>Base</th>
                  <th>Subtotal</th>
                  <th>%IVA</th>
                  <th>IVA</th>
                  <th>Total USD</th>
                  <th>Total BS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ 1 }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                  <td>{{ '...' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="d-flex justify-content-end">
        <div class="p-2">Total Suscripción: ${{ 1 }}</div>
        <div class="p-2">|</div>
        <div class="p-2"> Bs.{{ 1 }}</div>
      </div>

  </div><!-- card-body -->
</div><!-- card -->