<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">NOMBRE / RAZÓN SOCIAL</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">APELLIDO</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">DOCUMENTO DE IDENTIDAD</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">NRO. ABONADO</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">CONTRATO FÍSICO</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">ASESOR</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">POSTE</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">NRO. CASA/APTO</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">CELULAR</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">TÉLEFONO</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">TÉLEFONO ADICIONAL</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">SERIAL/CÓDIGO</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">FECHA CONTRATO DESDE</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">FECHA CONTRATO HASTA</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">NRO.ABONADO ANTERIOR</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label class="form-control-label">NRO. DE CUENTA DE PAGO</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

</div>

<div class="row mg-t-20">
  <div class="col-12 d-flex justify-content-center">
    <button class="btn btn-primary mg-r-10"><i class="fa fa-search"></i> BUSCAR</button>
    <button class="btn btn-secondary"><i class="fa fa-times"></i> CERRAR</button>
  </div>
</div>