<app-data-table tableId="depositos-transferencias-table">
  <ng-container thead>
    <tr>
      <th>Fecha reg</th>
      <th>Reg. por</th>
      <th>Fecha dep.</th>
      <th>Cuenta</th>
      <th>Referencia</th>
      <th>Monto</th>
      <th>Tipo</th>
      <th>Estatus</th>
      <th>Confirmado por</th>
      <th></th>
    </tr>
  </ng-container>
  <ng-container tbody>
    <tr>
      <td>01/01/2023</td>
      <td>...</td>
      <td>01/01/2023</td>
      <td>...</td>
      <td>G23241</td>
      <td>123.23</td>
      <td>TRANSFERENCIA</td>
      <td>PROCESADO</td>
      <td>...</td>
      <td>
        <button title="" class="btn btn-primary"><i class="fa fa-print"></i></button>
      </td>
    </tr>
  </ng-container>
</app-data-table>