<div class="card mg-b-20">
  <div class="card-header d-flex align-items-center justify-content-between" style="padding-bottom: 0;padding-top: 0;">
    <span>DATOS PERSONALES DEL CLIENTE</span>
    <div class="card-option tx-24">
      <a href="" class="tx-gray-600 mg-l-10"><i class="fa fa-edit lh-0"></i></a>
    </div><!-- card-option -->
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <p>TIPO CLIENTE: {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>NRO. DOCUMENTO: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>CLIENTE: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>CELULAR (MÓVIL): {{ '...' }}</p>
      </div>
      <div class="col-lg-6">
        <p>TÉLEFONO (FIJO): {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>TÉLEFONO ADICIONAL: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>E-MAIL: {{ '...' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>FECHA NACIMIENTO: {{ '...' }}</p>
      </div>
    </div>
  </div><!-- card-body -->
</div><!-- card -->